/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #272343;
  margin-top: 20px;
  line-height: 48px;
  font-weight: 700;
  font-size: 38px;
}

.wrapper {
  max-width: 1000px;
  background: #fff;
  border: 1px solid rgb(65 50 100 / 8%);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #272343;
  margin: 30px auto;
}

.search-bar-form,
.weather-forcast-section {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.current-city-details-temperature {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}

.current-city-details-units {
  position: relative;
  top: -20px;
}

.current-city-details-units .active {
  color: #272343;
  cursor: default;
  text-decoration: none;
}

.current-city-details-units .active:hover {
  text-decoration: none;
}

.weather-forcast-section,
.link-to-github {
  margin-top: 30px;
}

.weather-forcast {
  text-align: center;
}

.weather-forcast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forcast-temp {
  font-size: 13px;
}

.weather-forcast-temp-min {
  opacity: 0.6;
}
